@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  overflow-x:hidden;
  font-family: 'Jost', sans-serif;
  color:#505962;
}

/*--Navigation --*/
.navbar{
  text-transform:uppercase;
  font-weight:700;
  font-size:.9rem;
  letter-spacing:.1rem;
  background: rgba(129, 159, 166,0.6) !important;
}

.navbar-brand img{
  height:3rem;
  padding-left: 2rem;
}

.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-light .navbar-nav .nav-link{
  color:white;
  padding-top:0.8rem;
}

/*-- Landing Page --*/
.home-inner {
  background-image: url('img/handholding.jpg');
}

.caption {
  width:100%;
  max-width:100%;
  position:absolute;
  top:38%;
  z-index:1;
  color:white;
  text-transform:uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight:700;
  letter-spacing:0.3rem;
  text-shadow:0.1rem 0.1rem 0.8rem black;
  padding-bottom:1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1.6rem;
}

.btn-outline-light {
  border-width:medium;
  border-radius: 0;
  padding:0.6rem 1.3rem;
  font-size: 1.1rem;
}

.circle {
  border-radius:50%;
  padding:3rem;

}

.side-padding{
  padding-left:4rem;
  padding-right:4rem;
}

.btn-secondary {
  border-width:medium;
  border-radius: 0;
  padding:0.6rem 1.3rem;
  font-size: 1.1rem;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
